<div class="row">
     <button onclick="logoutFormHandler()"  class="no-button" id="logout">logout</button>
</div>
<div class="row">
{{!-- user --}}
    <div class="col-4">
        <a>Profile</a>
    </div>
{{!-- watchlist --}}
    <div class="col-4">
        <a>Watchlist</a>
    </div>
{{!-- reviews --}}
    <div class="col-4">
    <a>Reviews</a>
    </div>
</div>
{{!-- movie trailers for movies ive watched or are in my watchlist?? --}}
<div class="row">
    <div class="col-6">
        <a>Movie Trailers</a>
    </div>
</div>
<script src="js/auth.js"></script>
