<div class="row">
{{!-- user --}}
    <div class="col-4">
        <a><Profile/a>
    </div>
{{!-- watchlist --}}
    <div class="col-4">
        <a>Watchlist</a>
    </div>
{{!-- reviews --}}
    <div class="col-4">
    <a>Reviews</a>
    </div>
</div>