<div class="row">
    <button onclick="logoutFormHandler()" class="no-button" id="logout">logout</button>
</div>
<div class="row">
    {{!-- user --}}
    <div class="col-3">

        <a>Profile</a>

    </div>
    {{!-- watchlist --}}
    <div class="col-3">
        <a>Watchlist</a>
    </div>
    {{!-- reviews --}}
    <div class="col-3">
        <a>Reviews</a>
    </div>
    {{!-- trailers --}}
    <div class="col-3">
<<<<<<< HEAD
    <a>Trailers</a>
    <form id="form">
        <div class="form-group">
        <input type="text" class="form-control" id="search">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Search">    
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <div id="videos">
                {{!-- insert iframe code here --}}
=======
        <a>Trailers</a>
        <form id="form">
            <div class="form-group">
                <input type="text" class="form-control" id="search">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-danger" value="Search">
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <div id="videos">

                </div>
>>>>>>> fde49ee2c276803ea45a121b216ce722e0ee3ff6
            </div>
        </div>
    </div>
</div>